<div class="publication-external">
  <ol class="organisation-logos">
      <li class="organisation-logo">
        <div class="govuk-organisation-logo department-for-environment-food-rural-affairs">
    <a href="/government/organisations/environment-agency" class="logo-container logo-link">

    <img class="logo-image" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/organisation/logo/199/EAlogo.png" alt="Environment Agency">

    </a>
</div>

      </li>
  </ol>
</div>

<header class="publication-header" id="contents">
  <div class="html-publication-title">
      <p class="context">Prototype Byelaw Guidance</p>
    <h1>National and regional byelaws - freshwater fishing with a rod and line</h1>
  </div>
  Published 22 December 2017
</header>

<div class="grid-row sidebar-with-body" data-module="sticky-element-container">
    <div class="column-quarter-desktop-only">
        <nav role="navigation" class="app-c-contents-list">
    <h2>
      Contents
    </h2>
    <ol class="app-c-contents-list__list">
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#overview-of-national-byelaws">
            <span class="app-c-contents-list__number">1.</span><span class="app-c-contents-list__numbered-text">Overview of national byelaws</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#when-and-where-you-can-fish">
            <span class="app-c-contents-list__number">2.</span><span class="app-c-contents-list__numbered-text">When and where you can fish</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#legal-fishing-tackle-lures-and-bait">
            <span class="app-c-contents-list__number">3.</span><span class="app-c-contents-list__numbered-text">Legal fishing tackle, lures and bait</span>
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--numbered">
          <a class="app-c-contents-list__link" href="#catch-limits-size-limits-catch-returns">
            <span class="app-c-contents-list__number">4.</span><span class="app-c-contents-list__numbered-text">Catch limits, size limits and catch returns </span>
</a>        </li>
     
    </ol>
  </nav>

    </div>

  <div class="print-wrapper">
    <div class="print-meta-data">
      <p>
  <img class="print-meta-data-licence" src="https://assets.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png" alt="Open government licence min">
</p>
<p>
  © Crown copyright 2017
</p>
<p>
  This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
</p>
<p>
  Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
</p>
<p>
  This publication is available at https://draft-origin.publishing.service.gov.uk/government/publications/rod-fishing-rules-freshwater/national-rod-fishing-rules-freshwater
</p>



    </div>
  </div>

  <div class="column-three-quarters-desktop-only ">
    <div class="govuk-govspeak-html-publication">
  
<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">



<h2 id="overview-of-national-byelaws">
<span class="number">1. </span>Overview of national byelaws</h2>

<p>The national byelaws outlined here are legally enforceable rules for freshwater fishing with a rod and line across England and Wales.</p>

<div class="call-to-action">
<p>If you are aged 13 or older, you must own a valid <a href="https://www.gov.uk/fishing-licences">rod licence</a> to fish in England and Wales. This rule also applies at private fisheries.</p>
</div>

<h4>National, regional and local byelaws</h4>
<p>England is divided into 6 regions (see map). Each of these regions has its own set of supplemental byelaws, which are linked to below.</p>
<p>Within these regional byelaws you may also find examples of local byelaws. These are rules that apply to one specific water or location.</p>
<img src="images/region-map.png" width="" height="" alt="">

<p>The supplemental byelaws for your region will tell you:</p>

<ul>
<li>if there are waters where you are not allowed to fish</li>
<li>if start and end dates of 'close seasons' differ from national rules</li> 
<li>which waters and species are covered by a close season</li>
<li>extra restrictions on tackle and bait</li>
<li>extra restrictions on size limits and catch limits</li>
<li>restrictions on fishing near specific obstacles, like weirs</li>
</ul>

<h3>Regional byelaws</h3>
<p>The 6 sets of supplemental regional byelaws:</p>
<ul><li><a href="north-west-region.html">North West</a></li>
<li><a href="north-east-region.html">North East [divided into Yorkshire and Northumbria]</a></li>
<li><a href="anglian-region.html">Anglian</a></li>
<li><a href="midlands-region.html">Severn & Trent [Midlands]</a></li>
<li><a href="south-east-region.html">South East [including Thames Byelaws]</a></li>
<li><a href="south-west-region.html">South West</a></li></ul>


<p>Byelaws specific to <a href="http://naturalresourceswales.gov.uk/days-out/things-to-do/fishing/">Wales</a>, <a href="http://www.gov.scot/Topics/marine/Salmon-Trout-Coarse">Scotland</a> and <a href="https://www.nidirect.gov.uk/articles/angling-rod-licences-explained">Northern Ireland</a> are listed on other .GOV.UK web pages.</p>

<div class="call-to-action"><h3>Why we have byelaws</h3> <p>The purpose of these rules is to protect freshwater fish and their habitats and promote their wellbeing.</p> <p>If you see illegal fishing practices, pollution incidents, or dead or distressed fish, call our 24-hour incident hotline: 0800
80 70 60.</p></div>

<h2 id="when-and-where-you-can-fish">
<span class="number">2. </span>When and where you can fish</h2>

<p>Before you go fishing in England and Wales, you must buy a rod licence. You can buy 1-day, 8-day and 12-month licences for:</p>
<ul><li>Trout and coarse fish using 1, 2 or 3 rods</li>
<li>Salmon and migratory trout (1 rod)</li>
</ul>

<p>A free ‘junior licence’ is mandatory for children aged between 13 and 16 years old. Children under 13 don't need a licence.</p>

<h3>Close seasons</h3>

<p>A close season is the period each year when certain types of fishing must stop to allow fish to breed successfully.</p> 

<p>Close seasons generally apply to waters accessible to migratory fish, such as rivers, streams and drains, but also waters designated as Specified Sites of Special Scientific Interest (SSSIs).</p>

<div class="call-to-action"><p>The annual close season for coarse fishing is 15 March-15 June, but there may be regional variations - see the regional byelaws for your area.</p> </div>

<p>There is no close season in the majority of stillwaters - waters not accessible to migratory fish, including canals, reservoirs and ponds.</p>

<h3>Dates are inclusive</h3>

<p>All dates mentioned in these byelaws are inclusive: this means a stated period, such as 15 March-15 June, includes the full day of 15 March and the full day of 15 June. </p>

<h3>Close season for salmon, migratory trout and char</h3> 

<p>The close season is generally from the start of October to the end of April, however the rules for salmon and migratory trout are a little more complicated as rules differ region by region and, in some case, river by river. See the local byelaws for your region.</p>


<p>The various regional rules may also affect catch limits, size limits, types of lures and bait, even days of the week and hours of the day when fishing must be suspended.</p> 


<h4>Supplemental regional byelaws for salmon and migratory trout:</h4>

<ul><li><a href="north-west-region.html#salmon-close">North West</a></li>
<li><a href="north-east-region.html#salmon-yclose">North East - Yorkshire</a></li>  
<li><a href="north-east-region.html#salmon-nclose">North East - Northumbria</a></li>  
<li><a href="anglian-region.html#salmon-close">Anglian</a></li>
<li><a href="midlands-region.html#salmon-close">Severn & Trent [Midlands]</a></li>  
<li><a href="south-east-region.html#salmon-close">South East [including Thames]</a></li>
<li><a href="south-west-region.html#salmon-close">South West</a></li></ul>

<h3 id="trout">Fishing for rainbow trout
<p>Fishing with a rod and line for rainbow trout (a non-native species) is permitted year-round in waters with no statutory close season.</p>

<h3 id="eel">Fishing for eels</h3>

<p>Fishing with a rod and line for eels is permitted year round in waters with no statutory close season. </p>
<p>There are some supplemental regional rules for eels and shad, some covering fishing during the close season:</p>

<ul><li><a href="north-west-region.html#eels">North West</a></li>
<li><a href="anglian-region.html#eels">Anglian</a></li>
<li><a href="south-east-region.html#eels">South East [incl. Thames]</a></li>
<li><a href="south-west-region.html#sw-coarse-close">South West</a></li></ul>

<h3>Stillwaters and canals where a close season is enforced</h3>

<p>A small numbers of canals are in fact canalised rivers, and therefore enforce a close season. 

<p>In addition to this, fishing may be suspended in some stillwaters designated Specified Sites of Special Scientific Interest (SSSIs).</p> 

<h4>A list of canalised rivers and SSSIs by region:</h4>

<ul>
<li><a href="north-east-region.html#canal-sssi">North East</a></li>  
<li><a href="anglian-region.html#canal-sssi">Anglian</a></li>
<li><a href="midlands-region.html#canal-sssi">Severn & Trent [Midlands]</a></li>  
<li><a href="south-east-region.html#canal-sssi">South East</a></li>
<li><a href="south-west-region.html#canal-sssi">South West</a></li></ul>


<h3>Weirs and obstacles where you cannot fish</h3>
<p>There are no national rules for fishing near weirs but there are some regional and local rules. These relate to instances above or below specific weirs, or other obstacles, where fishing is not permitted. <p>

<ul>
    <li><a href="north-west-region.html#weirs">North West</a></li>
<li><a href="north-east-region.html#weirs">North East</a></li>  
<li><a href="midlands-region.html#weirs">Midlands [Severn & Trent]</a></li>  
<li><a href="south-west-region.html#weirs">South West</a></li></ul>




<div class="call-to-action"><p>For a comprehensive list of places to fish in England and Wales, visit the <a href="http://www.anglingtrust.net/">Angling Trust</a> website.</p></div>

<h2 id="legal-fishing-tackle-lures-and-bait">
<span class="number">3. </span>Legal fishing tackle, lures and bait</h2>



<h3>Types of tackle and fishing methods that are prohibited</h3>

<p>It is illegal to fish using a firearm, otter lath, wire or snare, crossline, setline, spear, stroke-haul or snatch.</p>  

<p>The use of gaffs and tailers (pictured) is prohibited, regardless of the type of fishing.</p> 

<p>A gaff is a pole with a hook at the end used to land large fish. A tailer is a pole with a type of lasso at the end, also used to land large fish.</p> 

<div class="logo-image"><img src="/public/images/gaff-tailer.png" class="img-responsive" width="" height="" alt=""></div>

<p>Any other legal fishing methods and instruments first require separate <a href="https://www.gov.uk/topic/environmental-management/fisheries-rod-licensing/latest">authorisation from the Environment Agency</a>.</p>

<h3>Foul hooking</h3>

<p>A foul hook is when a hook accidentally catches the body or fin of a fish (anywhere other than the mouth or throat).</p> 

<p>Any fish caught by foul-hook should be freed from the hook and returned immediately.</p>


<h3>Keepnets, keepsacks and landing nets</h3>

<p>Any keepnet with knotted meshes or meshes of metallic material is prohibited. </p> 

<p>Any keepnet with holes in the mesh larger than 25mm, or less than 2m in overall length is prohibited. </p> 

<p>Any keepnet with supporting rings or frames greater than 40cm apart is prohibited (this excludes the distance from the opening to the first ring or frame). </p> 

<p>Any keepnet with rings less than 120cm in circumference is prohibited.</p> 

<p>Any keepsack not constructed of a soft, dark coloured, non-abrasive, water-permeable fabric is prohibited. </p> 

<p>Any keepsack less than 120cm by 90cm (if rectangular) or 150cm by 30cm by 40cm (if used with a frame) is prohibited.</p> 
 
<p>It is illegal to hold more than one fish in a single keepsack.</p> 

<p>Landing nets with knotted meshes or meshes of metallic material are prohibited.</p> 



<h3 id=use-of-rods>Use of rods</h3>

<p>It is illegal to fish for salmon, migratory trout and char on rivers and streams using more than 1 rod and line.</p> 

<p>It is illegal to fish for salmon and migratory trout on reservoirs, lakes, and ponds with more than 2 rods and lines at the same time.</p> 

<p>It is illegal to fish for coarse fish or eels with more than 4 rods and lines at the same time.</p> 
 
<p>When fishing in combination - for example, fishing for salmon and coarse fish simultaneously - the limit is a total of 4 rods and lines.</p> 

<p>When fishing with multiple rods and lines, each rod must be placed close together so that the distance between the butts of the rods does not exceed 3m.</p> 


<p>It is illegal to leave a rod and line unattended with its bait or hook in the water. Anglers should be able to exercise control over the rod and line at all times.</p> 

<h3>Rods not affected by licence limits</h3>
<p>The following rods are not affected by licence limits unless they have hooks attached:</p>

<ul><li>spod rods (used to propel bait into water)</li>
<li>marker rods (used to mark out lines)</li></ul>

<h3>Bait and lures</h3>

<p>The use of crayfish, dead or alive, as bait is prohibited.<p>

<p>It is legal to fish using live bait - using a small fish to a catch bigger fish - providing that the bait fish is taken from the same water. </p>
<p>Moving fish alive or dead (or any other creature or plant life) from one water to another can spread diseases and is prohibited.</p>

<p>The transfer of any fish or fish spawn from one water to another requires the written consent of the Environment Agency and adherence to any conditions imposed in the written consent.</p> 



<div class="call-to-action">
<p><a rel="external" href="http://www.rspca.org.uk/adviceandwelfare/litter/fishing">Dispose of your tackle safely</a> to avoid harm to wildlife.</p>
</div>

<h2 id="catch-limits-size-limits-catch-returns">
<span class="number">4. </span>Catch limits, size limits and catch returns</h2>


<p>There are legal limits on the number, size and type of fish you can catch and keep. Fines can be imposed if these rules are broken.</p>
<p>You must return fish you cannot keep to the water unharmed.</p>
<h3>Daily catch limit for coarse fish</h3>

<p>It is legal to take:</p>


<ul><li>a total of 15 coarse fish of not more than 20cm per day - excluding grayling.</li>
<li>1 pike of not more than 65cm per day.</li>
<li>2 grayling of not less than 30cm and not more than 38cm per day.</li></ul>
<p>You can also take:</p>
<ul><li>minor or ‘tiddler’ species, such as gudgeon</li>
<li>non-native species</li>
<li>ornamental varieties of native species such as ghost or koi carp</li></ul>
<p>The size of any fish is measured from the tip of the snout to the fork or cleft of the tail.</p>

<div class="logo-image"><img src="/public/images/fish_measure.png" class="img-responsive" width="" height="" alt=""></div>

<p>You need permission from the owner to fish and take fish from private fisheries or waters on privately owned land.</p>

<p>Eels (except conger eels) or shad must be returned to the same water unharmed.</p>

<p>Fish that are not legal to keep should be returned to the same water with as little injury as possible. This should be done immediately or, if kept in a keepnet or keepsack, on or before completion of fishing.</p>

<h3>Catching and keeping salmon</h3>

<p>It is illegal to catch and remove any live or dead salmon from any waters or banks before the 16 June in any calendar year. There are various supplemental regional rules and variations of dates.</p>

<p>Salmon caught unintentionally must be returned immediately to the same water with the least possible injury.</p>

<p>Before 16 June it is legal to fish for salmon with rod and line using an artificial fly or artificial lure, but catches must be returned unharmed.</p>

<p>It is illegal to sell, or keep with the intention of selling, any salmon or migratory trout which has been caught with a rod and line. You can be fined for selling rod and line-caught salmon or sea trout in England and Wales.</p> 

<h3>Supplemental regional byelaws on daily catch limits for salmon and migratory trout</h3>

<p>There are various supplementary regional rules on catch limits for salmon, migratory trout and char:</p>

<ul>
<li><a href="north-west-region.html#catch-limits-size-limits-catch-returns">North West</a></li>  
<li><a href="north-east-region.html#catch-limits-size-limits-catch-returns">North East</a></li> 

<li><a href="midlands-region.html#catch-limits-size-limits-catch-returns">Severn & Trent [Midlands]</a></li>  
<li><a href="south-east-region.html#catch-limits-size-limits-catch-returns">South East</a></li>
<li><a href="south-west-region.html#catch-limits-size-limits-catch-returns">South West</a></li></ul>

<h2 id="catch-returns">Salmon and Migratory Trout - reporting your ctach return</h2>


<div class="call-to-action">A catch return report is a written record of an angler's annual salmon and migratory trout fishing activity.</div>
<p>Fishing for salmon or migratory trout requires the <a href="https://www.gov.uk/fishing-licences">correct type of licence</a>.</p> 
<p>AWhen you buy one of these licences, you agree to complete an annual catch return report on or before 1 January of the following year.</p>

<p>This means making a record of when you went fishing, what you caught, and the weight and length of each catch.</p>

<p>Even if you don’t catch anything, this information should be recorded.</p> <p>The Catch Return report helps the Environment Agency understand the health and wellbeing of salmon and sea trout.</p>

<p>It's a good idea to keep a notebook with your fishing tackle.</p>

<p>You can submit your catch return online at <a href="https://www.gov.uk/fishing-licences">www.gov.uk/catch-return</a> or use the form printed on the back of the licence letter.</p>

<p>There are penalties for not completing an annual catch return report.</p> 




</div>
</div>

</div>

  </div>

  <div data-sticky-element class="govuk-sticky-element">
    <a class="back-to-content" data-track-category="contentsClicked" data-track-action="backToContentsLinkClicked" data-track-label="contents" data-module="track-click" href="#contents">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

  </div>
</div>